{% extends 'base.html'%}
{% block content %}

<h1> Condos</h1>


<ul>
{% for condo in object_list %}
    <li>
        <a href="{% url 'condo-info' condo.pk %}">{{condo.title}}</a>
        {{condo.content}}
        {{condo.body}}
        {% if condo.image != None %}
            <img src="{{condo.image.url}}">
        {% endif %}
        <small>
            <a href="{% url 'update_condo' condo.pk %}">Edit</a>
            <a href="{% url 'delete_condo' condo.pk %}">Delete</a>
        </small>
    </li>
    <hr>
{% endfor%}
</ul>
<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br>
<ul>
    {% for condo in myFilter.qs%}
        <li>{{condo.pet_friendly}}</li>
    {% endfor %}
</ul>

{% endblock %}


